@page "/AddSandwich"

@using Cocorico.Client.Domain.Extensions
@using Cocorico.Client.Domain.Helpers
@using Cocorico.Shared.Dtos.Ingredient
@using Cocorico.Shared.Dtos.Sandwich
@using Cocorico.Shared.Helpers

@inject NavigationManager UriHelper
@inject ISandwichClient SandwichHttpClient
@inject IIngredientClient IngredientClient

<table class="table">
    <thead>
        <tr>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><input type="text" placeholder="Sandwich Name" class="form-control" bind="@NewSandwichDto.Name" /></td></tr>
        <tr><td><input type="number" placeholder="Sandwich Price" class="form-control" bind="@NewSandwichDto.Price" /></td></tr>
        @foreach (var ingredient in AvailableIngredients)
        {
            if (NewSandwichDto.Ingredients.SingleOrDefault(i => i.Id == ingredient.Id) is null)
            {
                <tr><td><button class="btn btn-primary" @onclick="@(() => AddIngredient(ingredient))">@ingredient.Name</button></td></tr>
            }
            else
            {
                <tr><td><button class="btn btn-danger" @onclick="@(() => RemoveIngredient(ingredient))">@ingredient.Name</button></td></tr>
            }
        }
        <tr><td><button class="btn btn-primary" @onclick="@Add">Add</button></td></tr>
    </tbody>
</table>

@code
{

    private SandwichAddDto NewSandwichDto { get; } = new SandwichAddDto { Ingredients = new List<IngredientDto>() };

    private List<IngredientDto> AvailableIngredients { get; set; } = new List<IngredientDto>();

    private List<IngredientDto> AddedIngredients { get; } = new List<IngredientDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var ingredients = await IngredientClient.GetAllAsync();

            AvailableIngredients.AddRange(ingredients);
        }
        catch (SwaggerException)
        {
            //TODO: Handle fail
        }
    }


    private void AddIngredient(IngredientDto ingredient)
    {
        AddedIngredients.Add(ingredient);
        NewSandwichDto.Ingredients = AddedIngredients;
    }

    private void RemoveIngredient(IngredientDto ingredient)
    {
        AddedIngredients.Remove(ingredient);
        NewSandwichDto.Ingredients = AddedIngredients;
    }

    private async Task Add()
    {
        try
        {
            NewSandwichDto.Ingredients = AddedIngredients;

            var result = await SandwichHttpClient.AddAsync(NewSandwichDto);

            if (result.IsSuccessfulStatusCode()) UriHelper.NavigateTo(Urls.Client.Sandwiches);
            //TODO: Handle fail
        }
        catch (SwaggerException)
        {
            //TODO: Handle fail
        }
    }
}
