@page "/AddSandwich"

@using Cocorico.Client.Blazor.ComponentModels.Sandwich

@inherits AddSandwichModel

<table class="table">
    <thead>
        <tr>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><input type="text" placeholder="Sandwich Name" class="form-control" bind="@NewSandwichDto.Name" /></td></tr>
        <tr><td><input type="number" placeholder="Sandwich Price" class="form-control" bind="@NewSandwichDto.Price" /></td></tr>
        @foreach (var ingredient in AvailableIngredients)
        {
            if (NewSandwichDto.Ingredients.SingleOrDefault(i => i.Id == ingredient.Id) is null)
            {
                <tr><td><button class="btn btn-primary" onclick="@(() => AddIngredient(ingredient))">@ingredient.Name</button></td></tr>
            }
            else
            {
                <tr><td><button class="btn btn-danger" onclick="@(() => RemoveIngredient(ingredient))">@ingredient.Name</button></td></tr>
            }
        }
        <tr><td><button class="btn btn-primary" onclick="@Add">Add</button></td></tr>
    </tbody>
</table>