@page "/AddSandwich"

@using Cocorico.Client.Domain.ViewModels.Sandwich

@inject IAddSandwichViewModel ViewModel

<table class="table">
    <thead>
        <tr>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><input type="text" placeholder="Sandwich Name" class="form-control" @bind="@ViewModel.NewSandwichDto.Name" /></td></tr>
        <tr><td><input type="number" placeholder="Sandwich Price" class="form-control" @bind="@ViewModel.NewSandwichDto.Price" /></td></tr>
        @foreach (var ingredient in ViewModel.AvailableIngredients)
        {
            if (ViewModel.NewSandwichDto.Ingredients.SingleOrDefault(i => i.Id == ingredient.Id) is null)
            {
                <tr><td><MatButton Outlined="true" @onclick="@(() => ViewModel.AddIngredient(ingredient))">@ingredient.Name</MatButton></td></tr>
            }
            else
            {
                <tr><td><MatButton Raised="true" @onclick="@(() => ViewModel.RemoveIngredient(ingredient))">@ingredient.Name</MatButton></td></tr>
            }
        }
        <tr><td><MatButton Icon="save" @onclick="@ViewModel.AddAsync">Create</MatButton></td></tr>
    </tbody>
</table>

@code
{
    protected override Task OnInitializedAsync() => ViewModel.LoadAvailableIngredientsAsync();
}