@page "/Sandwiches/{Id:int}"

@using Cocorico.Client.Blazor.ComponentModels.Sandwich

@inherits EditSandwichModel

<table class="table">
    <thead>
    <tr>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr><td><input type="text" placeholder="Sandwich Name" class="form-control" bind="@Sandwich.Name" /></td></tr>
    <tr><td><input type="number" placeholder="Sandwich Price" class="form-control" bind="@Sandwich.Price" /></td></tr>
    @foreach (var ingredient in AvailableIngredients)
    {
        if (Sandwich.Ingredients.SingleOrDefault(i => i.Id == ingredient.Id) is null)
        {
            <tr><td><button class="btn btn-primary" onclick="@(() => AddIngredient(ingredient))">@ingredient.Name</button></td></tr>
        }
        else
        {
            <tr><td><button class="btn btn-danger" onclick="@(() => RemoveIngredient(ingredient))">@ingredient.Name</button></td></tr>
        }
    }
    <tr><td><button class="btn btn-primary" onclick="@Edit">Edit</button></td></tr>
    </tbody>
</table>
