@page "/Sandwiches"
@using Cocorico.Client.Blazor.ComponentModels.Sandwich

@inherits SandwichesModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            @if (IsCustomer)
            {
                <th> </th>
            }
            @if (IsAdmin)
            {
                <th> </th>
                <th> </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var sandwich in Sandwiches)
        {
            <tr>
                <td>@sandwich.Name</td>
                <td>@sandwich.Price</td>
                @if (IsCustomer)
                {
                    <td><button class="btn btn-primary" @onclick="@(() => AddToBasket(sandwich))">Order</button></td>
                }
                @if (IsAdmin)
                {
                    <td><button class="btn btn-secondary" @onclick="@(() => Edit(sandwich.Id))">Edit</button></td>
                    <td><button class="btn btn-danger" @onclick="@(() => DeleteAsync(sandwich.Id))">Delete</button></td>
                }
            </tr>
            @string.Join(", ",sandwich.Ingredients.Select(i => i.Name))
        }
    </tbody>
</table>
