@page "/register"

@using Cocorico.Client.Domain.ViewModels.Authentication

@layout MainLayout

@inject IRegisterViewModel ViewModel

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                @if (ViewModel.ShowRegisterFailed)
                {
                    <div class="alert alert-danger">
                        Login attempt failed.
                    </div>
                }
                <EditForm OnValidSubmit="@ViewModel.RegisterUserAsync" Model="@ViewModel.UserRegisterDetails">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <InputText type="text" @bind-Value="@ViewModel.UserRegisterDetails.Name" placeholder="John Doe" class="form-control" />
                    <InputText type="email" @bind-Value="@ViewModel.UserRegisterDetails.Email" placeholder="example@host.org" class="form-control" />
                    <InputText type="password" @bind-Value="@ViewModel.UserRegisterDetails.Password" placeholder="Password" class="form-control" />
                    <InputText type="password" @bind-Value="@ViewModel.UserRegisterDetails.PasswordConfirm" placeholder="Password" class="form-control" />
                    <button type="submit" class="btn btn-primary">Register</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
