@page "/Settings"

@using Cocorico.Client.Domain.ViewModels.Settings

@inject ISettingsViewModel ViewModel

<h3>Set Rotating Id</h3>
<EditForm OnValidSubmit="@ViewModel.SetNewRangeAsync" Model="@ViewModel.IdRange">
    <InputNumber type="integer" @bind-Value="@ViewModel.IdRange.Start">Start</InputNumber>
    <InputNumber type="integer" @bind-Value="@ViewModel.IdRange.End">End</InputNumber>
    <MatButton type="submit">Set Rotating ID Range</MatButton>
</EditForm>

<h3>Add Opening</h3>
<div>
    <MatDatePicker EnableTime="true" Enable24hours="true" DateFormat="Y-m-d H:i" @bind-Value="@ViewModel.OpeningToAdd.Start" />
    <MatDatePicker EnableTime="true" Enable24hours="true" DateFormat="Y-m-d H:i" @bind-Value="@ViewModel.OpeningToAdd.End" />
    <MatButton OnClick="@(async _ => await ViewModel.AddOpeningAsync())">Add</MatButton>
</div>

<h3>Openings</h3>
<table class="table">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var opening in ViewModel.Openings.OrderByDescending(o => o.End))
        {
            <tr>
                <td><MatDatePicker EnableTime="true" Enable24hours="true" DateFormat="Y-m-d H:i" @bind-Value="@opening.Start" /></td>
                <td><MatDatePicker EnableTime="true" Enable24hours="true" DateFormat="Y-m-d H:i" @bind-Value="@opening.End" /></td>
                <td><MatButton OnClick="@(async _ => await ViewModel.EditOpeningAsync(opening))">Edit</MatButton></td>
                <td><MatButton OnClick="@(async _ => await ViewModel.DeleteOpeningAsync(opening.Id))">Delete</MatButton></td>
            </tr>
        }
    </tbody>
</table>

@code
{
    protected override async Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += (_, __) => StateHasChanged();
        await ViewModel.InitializeAsync();
    }

}
