@page "/AddCustomerOrder"
@using Cocorico.Client.Domain.ViewModels.Order
@using Cocorico.Shared.Helpers

@inject IAddCustomerOrderViewModel ViewModel
@inject NavigationManager urihelper

@if (ViewModel.AddOrderDto.Sandwiches.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sandwich in ViewModel.AddOrderDto.Sandwiches)
            {
                <tr>
                    <td>@sandwich.Name</td>
                    <td>@sandwich.Price JMF</td>
                    <td><MatButton Icon="remove_shopping_cart" Outlined="true" @onclick="@(() => ViewModel.DeleteSandwich(ViewModel.AddOrderDto.Sandwiches.IndexOf(sandwich)))">Delete</MatButton></td>
                </tr>
            }
            <tr>
                <td>Sum: @ViewModel.AddOrderDto.Sandwiches.Sum(s => s.Price) JMF</td>
                <td><MatButton Raised="true" @onclick="@ViewModel.AddAsync">Order</MatButton></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Your cart is currently empty</p>
    <td><MatButton Raised="true" Icon="shopping_cart" @onclick="@Redirect">Go sandwiches</MatButton></td>
}


@code
{
    private void Redirect()
    {
        urihelper.NavigateTo(Urls.Client.Sandwiches);
    }
}
