@page "/AddCustomerOrder"
@using Cocorico.Client.Domain.ViewModels.Order

@inject IAddCustomerOrderViewModel ViewModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sandwich in ViewModel.OrderAddDto.Sandwiches)
        {
            <tr>
                <td>@sandwich.Name</td>
                <td>@sandwich.Price JMF</td>
                <td><button class="btn btn-danger" @onclick="@(() => ViewModel.DeleteSandwich(ViewModel.OrderAddDto.Sandwiches.IndexOf(sandwich)))">Delete</button></td>
            </tr>
        }
        <tr>
            <td>Sum: @ViewModel.OrderAddDto.Sandwiches.Sum(s => s.Price) JMF</td>
            <td><button class="btn btn-primary" @onclick="@ViewModel.AddAsync">Add</button></td>
        </tr>
    </tbody>
</table>