@page "/OrdersToMake"

@using Cocorico.Client.Domain.ViewModels.Order
@using Cocorico.Shared.Helpers

@inject IOrdersViewModel MakeOrdersViewModel

@if (MakeOrdersViewModel.Orders.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>State</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in MakeOrdersViewModel.Orders.Where(o => o.State == OrderState.OrderPlaced || o.State == OrderState.InTheOven))
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.State</td>
                    @if (order.State == OrderState.OrderPlaced)
                    {
                        <td><button class="btn btn-primary" @onclick="@(async () => await MakeOrdersViewModel.UpdateStateAsync(order.Id, OrderState.InTheOven))">To Oven</button></td>
                    }
                    @if (order.State == OrderState.InTheOven)
                    {
                        <td><button class="btn btn-primary" @onclick="@(async () => await MakeOrdersViewModel.UpdateStateAsync(order.Id, OrderState.ToBeDelivered))">To Delivery</button></td>
                    }
                </tr>
                @foreach (var sandwich in order.Sandwiches)
                {
                    <tr>
                        <td></td>
                        <td>@sandwich.Name</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code
{
    protected override Task OnInitializedAsync() => MakeOrdersViewModel.LoadOrdersAsync();
}
