@page "/users"

@using Cocorico.Client.Domain.Helpers
@using Cocorico.Shared.Dtos.User
@using Cocorico.Shared.Helpers

@inject IUserClient UserHttpClient
@inject NavigationManager UriHelper

@if (UsersList.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@nameof(UserForAdminPage.Name)</th>
            <th>@nameof(UserForAdminPage.Email)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var user in UsersList)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td><button class="btn btn-primary" @onclick="@(() => GoToEdit(user.Id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IReadOnlyList<UserForAdminPage> UsersList { get; set; } = new List<UserForAdminPage>();

    protected override async Task OnInitializedAsync() => await LoadUsersAsync();

    private async Task LoadUsersAsync()
    {
        try
        {
            var result = await UserHttpClient.GetAllForAdminAsync();

            UsersList = result.ToList();
        }
        catch (Exception)
        {
            //TODO: Handle fail
        }
    }

    protected void GoToEdit(string userId) => UriHelper.NavigateTo(Urls.Client.AdminEditUserClaim + $"/{userId}");
}
