@page "/users"
@using Cocorico.Client.Blazor.ComponentModels.User
@using Cocorico.Shared.Dtos.User

@inherits UsersModel

@if (Users.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@nameof(UserForAdminPage.Name)</th>
            <th>@nameof(UserForAdminPage.Email)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td><button class="btn btn-primary" onclick="@(() => GoToEdit(user.Id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}